
$bg-img-location: '../image/';
$width-number-wrapper: 1360;
$width-wrapper: #{ $width-number-wrapper }px;
$height-sec-max: 773, 904, 845, 821, 781, 1036, 1063, 1064, 186;

@mixin sec-size( $maxHeight ) {
    max-height: #{$maxHeight}px;
    padding-bottom: percentage( $maxHeight / $width-number-wrapper );
}



body{
    margin: 0;
}
.wrapper{
    max-width: $width-wrapper;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.2), 0 0 8px rgba(0,0,0,.2);
    margin: auto;
    background: rgba(255,0,0,.2);
    .sec{
        background-size: contain;
        &.sec-9{
            position: relative;
            a{
                cursor: pointer;
            }
            .btn{
                position: absolute;
                max-width: 353px;
                width: percentage( 353 / $width-number-wrapper );
                height: percentage( 63 / 186 );
                border-radius: 31px;
                display: inline-block;
                transition: .2s;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 4px 4px rgba(0,0,0,.3), 0 6px 10px rgba(0,0,0,.4);
                }
                &.btn-1{
                    left: 7.5%;
                }
                &.btn-2{
                    left: 36.5%;
                }
                &.btn-3{
                    left: 66%;
                }
            }
        }
    }
}
@for $i from 1 through 9 {
    .sec-#{ $i } {
        @include sec-size( nth($height-sec-max, $i) );
        background: url( "#{ $bg-img-location }pc#{ $i }.jpg" );
    }
}



@media screen and( max-width: 750px ) {
    $width-number-wrapper: 750;
    $width-wrapper: #{ $width-number-wrapper }px;
    $height-sec-max: 986, 1188, 1039, 1030, 955, 2701, 2324, 2242, 484;
    @mixin sec-size( $maxHeight ) {
        max-height: #{$maxHeight}px;
        padding-bottom: percentage( $maxHeight / $width-number-wrapper );
    }

    .wrapper{
        max-width: $width-wrapper;
        .sec{
            &.sec-9{
                .btn{
                    max-width: 625px;
                    width: percentage( 625 / $width-number-wrapper );
                    // background: rgba(0,90,255,.4);
                    height: percentage( 112 / 484 );
                    border-radius: 28px;
                    left: 10%;
                    &.btn-1{
                        left: 10%;
                    }
                    &.btn-2{
                        left: 10%;
                        top: 31%;
                    }
                    &.btn-3{
                        left: 10%;
                        top: 61%;
                    }
                }
            }
        }
    }

    @for $i from 1 through 9 {
        .sec-#{ $i } {
            @include sec-size( nth($height-sec-max, $i) );
            background: url( "#{ $bg-img-location }mb#{ $i }.jpg" );
        }
    }
}